<!DOCTYPE html>
<html lang = "en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/site.css">
        <title>Register</title>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
    </div>

    <div class="center">
        <h1>To Do:</h1> 
        <div>Add a new assignment: <input type ="text"><input type="submit"></div>
        <ui>
            <li><input type = "checkbox"> Read Chapters 3-4</li>
            <li><input type = "checkbox"> Do problems 1-20</li>
            <li><input type = "checkbox"> Study for midterm</li>
        </ui>
    </div>
</body>
</html>
