<!DOCTYPE html>
<html lang = "en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/site.css">
        <link rel="stylesheet" href="/static/checklist.css">
        <link rel="stylesheet" href="/static/dropdown.css">
        <title>Checklist</title>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('logout_user') }}" class="navbar-brand">Logout</a>
        <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
        <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
        <div class="dropdown">
          <button class="dropbtn">Combine 
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
              <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
          </div>
    </div>
    <form name='add-task-form' action="{{'add_task'}}" method='post'>
      <label> Task Name </label>
      <input name="email-address" onfocusout="checkIfUserExists(event)" type="email" required>
      <label> Name </label>
      <input name="name" type="text" required>
      <label> Password </label>
      <input name="password" type="password" required>
      <input type ="submit" value="Sign Up">
      <br>
      <br>
      <div class ="foot-lnk">
          <a href="{{ url_for('home') }}"class= "foot-lnk">Already have an account? Log in!</a>
      </div>
    </form>

</html>
