<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/inputs.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <link rel="stylesheet" href="/static/login2.css">
    <title>Login</title>
    <style>
        input[type=submit] {
        background-color: #5a4042;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition: all 0.5s;
        cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
        <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
        <div class="dropdown">
            <a href="{{ url_for('home') }}" class="dropbtn">Agenda</a>
            <div class="dropdown-content">
                <a href="{{ url_for('calendar') }}">Calendar</a>
                <a href="{{ url_for('checklist') }}">Checklist</a>
        </div>
    </div> 
    </div>
    <form class="login2">
        <h1>Welcome to Mangrove</h1>   
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Login</button>
        <br>
        <br>
        <div class ="foot-lnk">
            <a href="{{ url_for('register') }}"class= "foot-lnk">Don't have an account? Sign up!</a>
        </div>
      </form>
    </div>
    </div>
    </div> 
</body>

</html>