{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<body>
    <div class="center">
    <h1>Welcome to Mangrove</h1> 
    <form method="post">
        <div class="txt_field">
            <input type="text" required>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login"><br>
        <a href="{{url_for('register')}}">Don't have an account? Sign up</a><br>
        <a href="{{url_for('home')}}">Return</a>
    </form> 
    </div> 
</body>
{% endblock %}