<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/inputs.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <link rel="stylesheet" href="/static/login2.css">
    <script src='/static/position.js'></script>
    <title>Register</title>
    <style>
        input[type=submit] {
        background-color: #5a4042;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>

    </div>
    <div class ="container">
        <p>Plant the seeds of productivity with Mangrove - the task management app that helps you grow your to-do list and achieve your goals.<br>
        Use Mangrove today.
        </p>
    </div>

    <div class = "registercontainer">
        <form name='registration-form'class="login2" action='/register/register-user' method='post'>
            <h1>Welcome to Mangrove</h1>
            <label> Email </label>
            <input name="email-address" onfocusout="checkIfUserExists(event)" type="email" required>
            <label> Name </label>
            <input name="name" type="text" required>
            <label> Password </label>
            <input name="password" type="password" required>
            <input type ="submit" value="Sign Up">
            <br>
            <br>
            <div class ="foot-lnk">
                <a href="{{ url_for('home') }}"class= "foot-lnk">Already have an account? Log in!</a>
            </div>
          </form>
        <script src="{{ url_for('static', filename='js/validate_users.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    </div>

</body>

</html>