<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/site.css">
    <title>Register</title>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
        <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
        <a href="{{ url_for('index') }}" class="navbar-item">index</a>
    </div>
    <div class="center">
    <h1>Register Page</h1> 
    <form method="post">
        <div class="txt_field">
            <input type="text" required>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <label>Password</label>
        </div>
        <input type="submit" value="Sign Up"><br>
        <a href="{{url_for('login')}}">Already have an account? Log In</a><br>
        <a href="{{url_for('home')}}">Return</a>
    
    </form> 
    </div>


</body>

</html>