<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/inputs.css">
    <title>Register</title>
    <style>
        input[type=submit] {
        background-color: #693516;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('calendar') }}" class="navbar-item">Calendar</a>
        <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('checklist') }}" class="navbar-item">Checklist</a>
    </div>
    <div class ="container">
        <p>Plant the seeds of productivity with Mangrove - the task management app that helps you grow your to-do list and achieve your goals.<br>
            Use Mangrove today.
        </p>
    </div>
    <div class="center">
    <div class = "boxregister">
    <h1>Register Page</h1> 
    <form method="post">
        <div class="txt_field">
            <input type="text" class = "centeredinput" placeholder="username"required><br>
        </div>
        <br>
        <div class="txt_field">
            <input type="password" class = "centeredinput" placeholder="password" required><br>
            
        </div>
        <br>
        <div class = "middle">
        <input type="submit" value="Sign Up"><br>
        <a href="{{url_for('login')}}">Already have an account? Log In</a><br>
        <a href="{{url_for('home')}}">Return</a>
    </div>
    </div>
    </form> 
    </div>


</body>

</html>