<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/dropdown.css">
        <link rel="stylesheet" href="/static/navbar2.css">
        <link rel="stylesheet" href="/static/inputs.css">
        <link rel="stylesheet" href="/static/settings.css">



        <script src='/static/position.js'></script>
        <script src='/static/burgermenu.js'></script>
        <script src ='/static/script4.js'></script>
    </head>


<body>
    <div class="navbar">
        <div class="topnav-right">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
        <div id="mySidepanel" class="sidepanel">
            <a href="{{ url_for('about2') }}" class="navbar-item">About</a>
            <a href="{{ url_for('classes') }}" class="navbar-item">Classes</a>
            <a href="{{ url_for('logout_user') }}" class="navbar-item">Logout</a>
    
            <div class="dropdown">
                <a class="dropbtn">Agenda</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('calendar') }}">Calendar</a>
                    <a href="{{ url_for('checklist') }}">Checklist</a>
                </div>
            </div>
        </div>
    </div>


    
    <h1> Background Color</h1>
    <input type="color" id="colorPicker" onchange = "bgchange(this.value)">

    <script src="script4.js"></script>


</body>

</html>